@charset "UTF-8";
/* CSS Document */
body{background-image: url(../images/background-image.jpg);}
body{margin-top:10px; padding-top:5%}
img{display:block; margin-left:auto; margin-right:auto; text-align:center;}
#content{width:900px; height:900px; background-color:rgba(242,225,225,.85);padding-top:.3%; margin:auto; top:10px; right:0; bottom:0; left:0; text-align:center;}
.shira{float:left; padding:10px; margin-left:4px;}
#nav{margin-left:33px;}
#header{display:block; margin-left:auto; margin-right:auto; padding-top:2%; padding-bottom:2%;}


